apiVersion: apps/v1
kind:  Deployment
metadata:
  name: api-nginx
spec:
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - image: nginx
        name: api-nginx
  selector:
    matchLabels:
      app: api
  replicas: 3
