apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  - image: nginx
    name: nginx
    volumeMounts:
    - name: nginx-config
      mountPath: /etc/nginx/conf.d
    - name: tls-certs
      mountPath: /etc/nginx/ssl
  volumes:
  - name: nginx-config
    configMap:
      name: nginx-config
  - name: tls-certs
    secret:
      secretName: tls-certs
